---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import BrowserLinks from '../components/BrowserLinks.astro';
import Screenshots from '../components/Screenshots.astro';
import Footer from '../components/Footer.astro';
---

<Layout title={SITE.title}
		description={SITE.description}
		image={SITE.image}>
	<main class="flex-grow bg-[#080808]">
		<Hero />
		<BrowserLinks />
			<Screenshots />
		<Features />
	</main>
	<Footer />
</Layout>
